.q-btn
  &.q-focusable
    &:focus .q-focus-helper
      background: none !important
  &-round
    @media screen and (max-width 767px)
      height: 1.4em
      width: 1.4em

.fab-custom
  right: 60px
  bottom: 18px
  font-size: 16px
  z-index: 2
  @media screen and (max-width 767px)
    margin: 18px;
    bottom: 0;
    right: 0;

a
  color: $primary
  text-decoration: none
