.q-btn
  &.q-focusable
    &:focus .q-focus-helper
      background: none !important
  &-round
    @media screen and (max-width 767px)
      height: 1.4em
      width: 1.4em

.fab-add-person
  right: 60px
  bottom: 18px
  font-size: 16px
  z-index: 2
