// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// $primary   = #027be3
// $secondary = #26A69A
// $tertiary  = #555

// $neutral   = #E0E1E2
// $positive  = #21BA45
// $negative  = #DB2828
// $info      = #31CCEC
// $warning   = #F2C037

$primary   = #E2007A
$primary-light = #FF54B0
$primary-fade = #FFF4FA
$primary-dimmed = rgba(226, 0, 122, .5)
$primary-dark = #930F59

$secondary = #F29400
// $secondary = #26A69A
// $tertiary  = #555
// $tertiary  = #737373
$tertiary = #0F9319

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$red = #D0021B
$orange = #F5A623
$yellow = #F8E71C
$brown = #8B572A
$light-green = #7ED321
$green = #417505
$light-purple = #BD10E0
$purple = #9013FE
$blue = #4A90E2
$cyan = #50E3C2
$lighter-green = #B8E986
$black = #000000
$dark-grey = #4E4E4E
$grey = #9B9B9B
$light-grey = #D0D0D0
$white = #FFFFFF