$primary   = #E2007A
$primary-light = #FF54B0
$primary-fade = #FFF4FA
$primary-dimmed = rgba(226, 0, 122, .5)
$primary-dark = #930F59

$secondary = #F29400
$tertiary = #0F9319

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$red = #D0021B
$orange = #F5A623
$yellow = #F8E71C
$brown = #8B572A
$light-green = #7ED321
$green = #417505
$light-purple = #E6C6D6
$purple = #9013FE
$blue = #4A90E2
$cyan = #50E3C2
$lighter-green = #B8E986
$black = #000000
$dark-grey = #4E4E4E
$grey = #9B9B9B
$grey-2 = #a3a3a3
$light-grey = #D0D0D0
$white = #FFFFFF
$light-pink= #FFECF6

$messenger-blue = #0084ff