.activeDot
  background: $tertiary
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 3px

.inactiveDot
  background: $primary-dark
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 3px