.q-if
  transition: all 0.3s ease-in-out
  &-inverted
    box-shadow: none
    padding: 9px 14px 11px 14px
  &-focused
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
  &-baseline
    line-height: 0
  &-control
    font-size: 1rem
    width: 16px
    height: 16px
  & input.q-input-target
    height: 20px
    line-height: 20px
  & .q-if-inner
    min-height: 20px
    margin: 0

.q-input-target
  line-height: 20px
  &:before
    line-height: 20px