.modal
  &-padding
    padding: 24px 25px 0px 25px
    & .q-btn-toggle
      width: 100%
      margin-bottom: 20px
      & .q-btn-item
        width: 100%
  &-btn
    border-radius: 0
    height: 48px
    padding: 0px 25px
    .q-btn-inner
      justify-content: left
      font-size: 18px
      justify-content: space-between
      div
        flex-grow: 1
        text-align: left

  &-btn-close
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    & .q-icon
      font-size: 1.5em

  &-content
    max-height: none;
    @media screen and (max-width: 767px)
      height: auto !important;

  &-container-sm
    min-width: 30vw
    @media screen and (min-width: 768px)
      max-width: 50vw

  &-container-md
    min-width: 45vw
    @media screen and (min-width: 768px)
      max-width: 65vw
