.modal
  &-padding
    padding: 24px 58px 0px 58px
    @media screen and (max-width: 767px)
      padding: 24px 30px 0px 30px
    & .q-btn-toggle
      width: 100%
      margin-bottom: 20px
      & .q-btn-item
        width: 100%
  &-btn
    border-radius: 0
