.table-grid
  table
    border: 0

    thead
      border: none
      clip: rect(0 0 0 0)
      height: 1px
      margin: -1px
      overflow: hidden
      padding: 0
      position: absolute
      width: 1px

    tr
      border: 1px solid #ddd
      padding: .35em
      border-bottom: 2px solid #ddd
      display: block
      margin-bottom: .625em

    td
      border-bottom: 1px solid #ddd
      display: block
      text-align: right
      white-space: initial
      height: auto
      padding: 8px 8px
      min-height: 32px

      &::before
        content: attr(data-label)
        float: left

      &:first-child
        width: 100%

      &:last-child
        border-bottom: 0

      .table-actions
        display: inline-table
        .q-btn
          margin: 0 5px

.q-table-container
    box-shadow: none

.table-responsive
  table
    table-layout: fixed

    th
      white-space: normal;
      padding: 10px 20px;
      vertical-align: middle;

    td
      padding: 4px 20px;

      .datetime
        margin: 0
        .q-field-bottom
          display: none
        .q-field-content
          @media screen and (max-width: 767px)
            padding-left: 10px

      .q-uploader .q-if-inner
        display: none

      .q-uploader input
        cursor: pointer !important

      .q-uploader-pick-button
        color: $primary
        font-size: 1.5rem
        cursor: pointer !important

    .email
      word-break: break-all

    .uploader-responsive
      justify-content: center

    .table-actions
      min-width: 20px;
      justify-content: center;

  @media screen and (min-width: 768px)
    .q-table-middle
      margin: 10px;

  @media screen and (max-width: 767px)
    table
      border: 0

      thead
        border: none
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px

      tr
        border: 1px solid #ddd
        padding: .35em
        border-bottom: 2px solid #ddd
        display: block
        margin: .625em

      td
        border-bottom: 1px solid #ddd
        display: block
        text-align: right
        white-space: initial
        height: auto
        padding: 8px 8px
        min-height: 32px

        &::before
          content: attr(data-label)
          float: left

        &:first-child
          width: 100%

        &:last-child
          border-bottom: 0

        .table-actions
          display: inline-table
          .q-btn
            margin: 0 5px
