// app global css
@import '~variables'

.q-table td
  white-space normal

body
  color: $dark

h1, h2, h3, h4, h5, h6
  margin-top: 0
//   color: $tertiary

.q-item-separator-component
  margin: 0

.q-item
  padding: 10px 16px
