// app global css
@import '~variables'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './themes/input'
@import './themes/drawer'
@import './themes/btn'
@import './themes/table'

body
  color: $black
  font-family: 'Source Sans Pro', 'Roboto', 'Helvetica', 'Arial'
  font-size: 16px

h1, h2, h3, h4, h5, h6
  margin-top: 0
h4
  margin-bottom: 35px
  @media (max-width: 767px)
    margin-bottom: 20px !important

.q-table tbody td
  white-space: normal
  @media (max-width: 767px)
    font-size: 14px

.q-table th
  @media (max-width: 767px)
    font-size: 13px

div h4:only-child
  margin-bottom: 0px

.neutral-background
  background: $grey-3

.directory-header
  margin-bottom: 35px
  @media (max-width: 767px)
    margin-bottom: 10px
  & .q-btn
    padding: 0

.gutter-profile
    margin-top: -24px
    margin-left: -24px
    & > div
      padding-top: 24px
      padding-left: 24px
    &-x
      margin-top: -24px
      & > div
        padding-top: 24px
